.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;

    &.open {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        transition:
            width 2.5s ease-in-out,
            height 2.5s ease-in-out;
        background-color: rgba(255, 190, 152, 1);
        /* background-color: #faa; */
        width: 100%;
        height: 100%;
        padding: 8px;

        .width-bar {
            position: absolute;
            animation-fill-mode: forwards;
            animation-duration: 3.5s;
            animation-timing-function: ease-in-out;
            height: 4px;
            background-color: #2c1f3c;
            border-radius: 4px;

            &.top {
                top: 8px;
                animation-name: top-border;
            }

            &.bottom {
                animation-name: bottom-border;
                animation-delay: 3.5s;
                transform: translateY(calc(100vh - 22px));
                width: 0%;
            }
        }

        .height-bar {
            position: absolute;
            animation-fill-mode: forwards;
            animation-duration: 3.5s;
            animation-timing-function: ease-in-out;
            height: 4px;
            background-color: #2c1f3c;
            border-radius: 4px;

            &.left {
                transform: rotate(90deg) translateX(calc(50vh - 9px)) translateY(calc(-50vw - 44px));
                animation-name: left-border;
            }

            &.right {
                transform: rotate(90deg) translateX(calc(50vh - 9px)) translateY(calc(-50vw - 44px));
                animation-name: right-border;
                animation-delay: 3.5s;
                width: 0%;
            }
        }
    }
}

@keyframes top-border {
    from {
        width: 1%;
    }
    to {
        width: calc(100vw - 22px);
    }
}

@keyframes bottom-border {
    from {
        width: 1%;
    }
    to {
        width: calc(100vw - 22px);
    }
}

@keyframes left-border {
    from {
        width: 1%;
    }
    to {
        width: calc(100vh - 22px);
    }
}

@keyframes right-border {
    from {
        width: 1%;
    }
    to {
        width: calc(100vh - 16px);
    }
}

.menu-handle {
    cursor: pointer;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    height: 60px;
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;

    .top-bar {
        animation-name: top-bar-reverse;
        animation-duration: 0.5s;
    }

    .mid-bar {
        animation-duration: 0.5s;
        animation-name: mid-bar-reverse;
    }

    .bottom-bar {
        animation-duration: 0.5s;
        animation-name: bottom-bar-reverse;
    }

    &:hover {
        .top-bar {
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-name: top-bar;
        }

        .mid-bar {
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-name: mid-bar;
        }

        .bottom-bar {
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-name: bottom-bar;
        }

        .bar {
            background-color: rgba(255, 190, 152, 1);
        }
    }
}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

@keyframes top-bar {
    from {
        transform: rotate(0deg);
    }
    to {
        width: 50%;
        transform: rotate(45deg) translateY(-16px) translateX(26px);
    }
}

@keyframes top-bar-reverse {
    from {
        width: 50%;
        transform: rotate(45deg) translateY(-16px) translateX(26px);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes mid-bar {
    from {
        opacity: 1;
        width: 100%;
    }

    to {
        width: 0%;
        transform: translateX(25px);
        opacity: 0;
    }
}

@keyframes mid-bar-reverse {
    from {
        width: 0%;
        opacity: 0;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

@keyframes bottom-bar {
    from {
        transform: rotate(0deg);
    }
    to {
        width: 50%;
        transform: rotate(-45deg) translateY(16px) translateX(26px);
    }
}

@keyframes bottom-bar-reverse {
    from {
        width: 50%;
        transform: rotate(-45deg) translateY(16px) translateX(26px);
    }
    to {
        transform: rotate(0deg);
    }
}
