.container {
    width: 400px;

    &:hover {
        .background {
            width: 150px;
        }

        .title {
            animation: 1.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both running slideout;
        }
    }
}

.title {
    font-weight: bold;
}

.background {
    width: 0px;
    background-color: rgba(255, 190, 152, 0.75);
    transition: width 1s ease-in-out;
    border-radius: 4px;
    border-bottom-right-radius: 12px;
}

@keyframes slideout {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100px, 0);
    }
}
