.container {
    border-radius: 4px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    transition: width 1s ease-in-out;

    &:hover {
        transition: box-shadow 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        box-shadow: 6px 6px 8px rgba(255, 190, 152, 0.2);

        .background {
            width: 150px;
        }

        .title {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            /* border: solid rgba(255, 190, 152, 0.75) 2px; */
            padding-right: 100px;
            /* animation: 1.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both running slideout; */
        }
    }

    &:active {
        box-shadow: 6px 6px 12px rgba(255, 190, 152, 0.8);
    }
}

.title {
    padding-left: 10px;
    border: solid #2c1f3c 2px;
    transition:
        padding-right 1.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
        border-color 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86),
        border-width 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-weight: bold;
}

.background {
    width: 0px;
    background-color: rgba(255, 190, 152, 0.75);
    transition: width 1s ease-in-out;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 4px;
}

/*
@keyframes slideout {
    0% {
        padding-right: 0px;
    }
    100% {
        padding-right: 100px;
    }
} */
